<div class="card">
    <div class="card-header">
        <div style="display: flex;">
            <div style="margin-right: 10px;">
                <i class="ri-arrow-left-line fs-14" [routerLink]="['/admin/drivers']"></i>
            </div>
            <div style="flex:1 1 0%">
                
                <h5 style="text-transform: capitalize;"> Drivers</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="border-right: 1px solid gray;">
                    <h5>Personal Deatils</h5>
                    <div class="row">
                       
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="name" class="form-label"> Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Name" id="First Name" [(ngModel)]="Name">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="EmailId" class="form-label">Email Id</label>
                                <input type="text" class="form-control" placeholder="Enter your Email Id " id="Email Id" [(ngModel)]="EmailId">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" placeholder=" Enter your Phone Number" id="Phone Number" [(ngModel)]="PhoneNumber">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="GenderInput" class="form-label" >Gender</label>
                                <select _ngcontent-ng-c1661926025="" id="Genderinput" data-choices="" data-choices-sorting="true" class="form-select" [(ngModel)]="Gender">
                                    <option _ngcontent-ng-c1661926025="" selected="">Choose...</option>
                                    <option _ngcontent-ng-c1661926025="" >Male</option>
                                    <option _ngcontent-ng-c1661926025="" >Female</option>
                                    <option _ngcontent-ng-c1661926025="" >Other</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">   
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="DOBNoInput" class="form-label">DOB</label>
                                <input _ngcontent-ng-c1558678681="" type="date" id="exampleInputdate" class="form-control"[(ngModel)]="DOB">
                                
                               <div *ngIf="DOB">
                                    <p>{{ calculateAge() }}</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="AgeInput" class="form-label">Age</label>
                                <input type="text" class="form-control" placeholder="Enter your Age" id="AgeInput" [(ngModel)]="Age">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="AadharCard No" class="form-label">AadharCard No</label>
                                <input type="text" class="form-control" placeholder="Enter your AadharCard No" id="AadharCard No" [(ngModel)]="AadharCardNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="License No" class="form-label">License No</label>
                                <input type="text" class="form-control" placeholder="Enter your License No" id="License No" [(ngModel)]="LicenseNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="LicenseDocumentInput" class="form-label">License Document</label>
                                <input type="file" class="form-control"  #personalDocChild placeholder="upload your Document file" id="LicensedocumentInput" (change)="uploadLicDoc($event)">
                            </div>
                        </div> 
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="Police Verify Document" class="form-label">Police Verify Document</label>
                                <input type="file" class="form-control"  #personalDocChild placeholder="upload your Document file" id="Police Verify Document" (change)="uploadLicDoc($event)">
                            </div>
                        </div> 

                      
                    </div>
                    <hr>
                    
                </div>
                
                <div class="col-lg-6 col-sm-12">
                    <h5>Car Deatils</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="BrandNameControlTextarea" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Brand Name" id="BrandName"[(ngModel)]="BrandName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="ModelNameControlTextarea" class="form-label">Model Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Model Name" id="ModelName"[(ngModel)]="ModelName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="RCNoInput" class="form-label">RC No</label>
                                <input type="text" class="form-control" placeholder="Enter your RC No" id="RCNoInput"[(ngModel)]="RCNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="CarPurchaesYearInput" class="form-label"> Car Purchaes Year</label>
                                <input type="text" class="form-control" placeholder="Enter your Car Purchaes Year" id="CarPurchaesYearInput" [(ngModel)]="PurchaesYear">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="PackagePriceInput" class="form-label"> Package Price</label>
                                <input type="text" class="form-control" placeholder="Enter your Package Price" id="PackagePriceInput" [(ngModel)]="PackagePrice">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="PackageKmInput" class="form-label"> PackageKm</label>
                                <input type="text" class="form-control" placeholder="Enter your PackageKm" id="PackageKmInput" [(ngModel)]="PackageKm">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="RatePerKmInput" class="form-label">RatePerKm</label>
                                <input type="text" class="form-control" placeholder="Enter your RatePerKm" id="RatePerKmInput" [(ngModel)]="RatePerKm">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="CarDocInput" class="form-label">Car Document</label>
                                <input type="file" class="form-control" #carDocChild placeholder="upload your Document" id="CardocInput" (change)="uploadCarDoc($event)">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="CarPhotoInput" class="form-label">Car Photo</label>
                                <input type="file" class="form-control" #carDocChild placeholder="upload your Car Photo" id="CarPhotoInput" (change)="uploadCarphoto($event)">
                            </div>
                        </div>
                        
                    </div>
                </div>
               <div class="col-lg-6 col-sm-12" style="border-right: 1px solid gray;">
                        <h5>Address Details</h5>
                        <div class="row">
                           
                        
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-3">
                                    <label for="PermantAddressInput" class="form-label">Permant Address</label>
                                    <textarea _ngcontent-ng-c1661926025="" id="meassageInput" rows="3" placeholder="Enter your Permant Address" class="form-control"[(ngModel)]="PermantAddress"></textarea>
                                    
                                  
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="StateInput" class="form-label">State</label>
                                    <select (change)="onStateChange($event)" id="inputState" data-choices="" data-choices-sorting="true" class="form-select"[(ngModel)]="State">
                                        <option  selected="">Choose...</option>
                                        <option *ngFor="let item of statesList" value="{{item.state}}">{{item.state}}</option>
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="CityInput" class="form-label">City</label>
                                    <select id="inputState" data-choices="" data-choices-sorting="true" class="form-select"[(ngModel)]="City">
                                        <option  selected="">Choose...</option>
                                        <option *ngFor="let item of citiesList" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="PinCodeInput" class="form-label">Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter your pin code" id="PinCodeInput" [(ngModel)]="PinCode">
                                </div>
                            </div>
                            
                           

                        </div>
                    </div>
                    <hr>
                
                
                
                                
                <div class="col-lg-12">
                    <div class="text-end">
                        <button style="margin: 0px;;" type="submit" class="btn btn-primary" (click)="submit()" >Verify</button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>


