<div class="card">
    <div class="card-header">
        <div style="display: flex;">
            <div style="margin-right: 10px;">
                <i class="ri-arrow-left-line fs-14" [routerLink]="['/admin/usermaster']"></i>
            </div>
            <div style="flex:1 1 0%">
                
                <h5 style="text-transform: capitalize;"> Dealer</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="mb-3">
                                <label for="firstNameinput" class="form-label" > Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Name" id="firstNameinput" [(ngModel)]="name">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="mb-3">
                                <label for="emailidInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" placeholder="example@gamil.com" id="emailidInput" [(ngModel)]="email">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12" >
                            <div class="mb-3">
                                <label for="Password" class="form-label">Create Password</label>
                                <input type="password" class="form-control" placeholder="Create Password" id="address1ControlTextarea" [(ngModel)]="password">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="mb-3">
                                <label for="phonenumberInput" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="+(245) 451 45123" id="phonenumberInput" [(ngModel)]="mobile">
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-sm-12">
                            <div class="mb-3">
                                <label for="compnayNameinput" class="form-label">Company Name</label>
                                <input type="text" class="form-control" placeholder="Enter company name" id="compnayNameinput"[(ngModel)]="CompanyName">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-lg-6 col-sm-12" style="border-right: 1px solid gray;">
                    <h5>Billing Address</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="address1ControlTextarea" class="form-label">Billing Address</label>
                                <input type="text" class="form-control" placeholder="Address 1" id="address1ControlTextarea"[(ngModel)]="BillingAddress">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="citynameInput" class="form-label">City</label>
                                <input type="email" class="form-control" placeholder="Enter your city" id="citynameInput" [(ngModel)]="Billingcity">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="StatenameInput" class="form-label">State</label>
                                <input type="email" class="form-control" placeholder="Enter your State" id="StatenameInput" [(ngModel)]="BillingState">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="StatenameInput" class="form-label">Zipcode</label>
                                <input type="email" class="form-control" placeholder="Enter your Zipcode" id="StatenameInput" [(ngModel)]="BillingZipcode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h5>Shipping Address</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="address1ControlTextarea" class="form-label">Shipping Address</label>
                                <input type="text" class="form-control" placeholder="Address 1" id="address1ControlTextarea"[(ngModel)]="ShippingAddress">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="citynameInput" class="form-label">City</label>
                                <input type="email" class="form-control" placeholder="Enter your city" id="citynameInput"[(ngModel)]="ShippingCity">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="StatenameInput" class="form-label">State</label>
                                <input type="email" class="form-control" placeholder="Enter your State" id="StatenameInput" [(ngModel)]="ShippingState">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="StatenameInput" class="form-label">Zipcode</label>
                                <input type="email" class="form-control" placeholder="Enter your Zipcode" id="StatenameInput" [(ngModel)]="ShippingZipcode">
                            </div>
                        </div>
                    </div>
                </div>
                                
                <div class="col-lg-12">
                    <div class="text-end">
                        <button style="margin: 0px;;" type="submit" class="btn btn-primary" (click)="submit()" >Submit</button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        


    </div>
</div>

