<div class="card">
    <div class="card-header">
        <div style="display: flex;">
            <div style="margin-right: 10px;">
                <i class="ri-arrow-left-line fs-14" [routerLink]="['/admin/drivers']"></i>
            </div>
            <div style="flex:1 1 0%">
                
                <h5 style="text-transform: capitalize;"> Drivers</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="border-right: 1px solid gray;">
                    <h5>Personal Deatils</h5>
                    <div class="row">
                       
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="name" class="form-label"> Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Name" id="First Name" [(ngModel)]="Name">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="EmailId" class="form-label">Email Id</label>
                                <input type="text" class="form-control" placeholder="Enter your Email Id " id="Email Id" [(ngModel)]="EmailId">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" placeholder=" Enter your Phone Number" id="Phone Number" [(ngModel)]="PhoneNumber">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="GenderInput" class="form-label" >Gender</label>
                                <select _ngcontent-ng-c1661926025="" id="Genderinput" data-choices="" data-choices-sorting="true" class="form-select" [(ngModel)]="Gender">
                                    <option _ngcontent-ng-c1661926025="" selected="">Choose...</option>
                                    <option _ngcontent-ng-c1661926025="" >Male</option>
                                    <option _ngcontent-ng-c1661926025="" >Female</option>
                                    <option _ngcontent-ng-c1661926025="" >Other</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">   
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="DOBNoInput" class="form-label">DOB</label>
                                <input _ngcontent-ng-c1558678681="" type="date" id="exampleInputdate" class="form-control"[(ngModel)]="DOB">
                                
                               <div *ngIf="DOB">
                                    <p>{{ calculateAge() }}</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="AgeInput" class="form-label">Age</label>
                                <input type="text" class="form-control" placeholder="Enter your Age" id="AgeInput" [(ngModel)]="Age">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="AadharCard No" class="form-label">AadharCard No</label>
                                <input type="text" class="form-control" placeholder="Enter your AadharCard No" id="AadharCard No" [(ngModel)]="AadharCardNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="License No" class="form-label">License No</label>
                                <input type="text" class="form-control" placeholder="Enter your License No" id="License No" [(ngModel)]="LicenseNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="LicenseDocumentInput" class="form-label">License Document</label>
                                <input type="file" class="form-control"  #personalDocChild placeholder="upload your Document file" id="LicensedocumentInput" (change)="uploadLicDoc($event)">
                            </div>
                        </div> 
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="Police Verify Document" class="form-label">Police Verify Document</label>
                                <input type="file" class="form-control"  #personalDocChild placeholder="upload your Document file" id="Police Verify Document" (change)="uploadLicDoc($event)">
                            </div>
                        </div> 

                      
                    </div>
                    <hr>
                    
                </div>
                
                <div class="col-lg-6 col-sm-12">
                    <h5>Car Deatils</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="BrandNameControlTextarea" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Brand Name" id="BrandName"[(ngModel)]="BrandName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="ModelNameControlTextarea" class="form-label">Model Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Model Name" id="ModelName"[(ngModel)]="ModelName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="RCNoInput" class="form-label">RC No</label>
                                <input type="text" class="form-control" placeholder="Enter your RC No" id="RCNoInput"[(ngModel)]="RCNo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <label for="CarPurchaesYearInput" class="form-label"> Car Purchaes Year</label>
                                <input type="text" class="form-control" placeholder="Enter your Car Purchaes Year" id="CarPurchaesYearInput" [(ngModel)]="PurchaesYear">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="CarDocInput" class="form-label">Car Document</label>
                                <input type="file" class="form-control" #carDocChild placeholder="upload your Document" id="CardocInput" (change)="uploadCarDoc($event)">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-3">
                                <label for="CarPhotoInput" class="form-label">Car Photo</label>
                                <input type="file" class="form-control" #carDocChild placeholder="upload your Car Photo" id="CarPhotoInput" (change)="uploadCarphoto($event)">
                            </div>
                        </div>
                        
                    </div>
                </div>
               <div class="col-lg-6 col-sm-12" style="border-right: 1px solid gray;">
                        <h5>Address Details</h5>
                        <div class="row">
                           
                        
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-3">
                                    <label for="PermantAddressInput" class="form-label">Permant Address</label>
                                    <textarea _ngcontent-ng-c1661926025="" id="meassageInput" rows="3" placeholder="Enter your Permant Address" class="form-control"[(ngModel)]="PermantAddress"></textarea>
                                    
                                  
                                </div>
                            </div>
                          
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="CityInput" class="form-label">City</label>
                                    <input type="text" class="form-control" placeholder="Enter your city" id="AgeInput" [(ngModel)]="City">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="StateInput" class="form-label">State</label>
                                    <select _ngcontent-ng-c1661926025="" id="inputState" data-choices="" data-choices-sorting="true" class="form-select"[(ngModel)]="State">
                                        <option _ngcontent-ng-c1661926025="" selected="">Choose...</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="mb-3">
                                    <label for="PinCodeInput" class="form-label">Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter your pin code" id="PinCodeInput" [(ngModel)]="PinCode">
                                </div>
                            </div>
                            
                           

                        </div>
                    </div>
                    <hr>
                
                
                
                                
                <div class="col-lg-12">
                    <div class="text-end">
                        <button style="margin: 0px;;" type="submit" class="btn btn-primary" (click)="submit()" >Verify</button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>


