<div role="document" class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
        <div _ngcontent-ng-c609779689="" class="modal-header bg-info-subtle p-3">
            <h5 _ngcontent-ng-c609779689="" id="exampleModalLabel" class="modal-title">Add Contact</h5>
            <button _ngcontent-ng-c609779689="" type="button" data-bs-dismiss="modal" aria-label="Close"
                id="close-modal" class="btn-close"></button>
        </div>

        <form _ngcontent-ng-c609779689="" novalidate="" autocomplete="off"
            class="tablelist-form ng-untouched ng-pristine ng-invalid">
            <div _ngcontent-ng-c609779689="" class="modal-body"><input _ngcontent-ng-c609779689="" type="hidden"
                    id="id-field">
                <div _ngcontent-ng-c609779689="" class="row g-3">
                    <div _ngcontent-ng-c609779689="" class="col-lg-12">
                        <div _ngcontent-ng-c609779689="" class="text-center">
                            <div _ngcontent-ng-c609779689="" class="position-relative d-inline-block"><input
                                    _ngcontent-ng-c609779689="" type="hidden" name="id" value="" formcontrolname="ids"
                                    class="ng-untouched ng-pristine ng-valid">
                                <div _ngcontent-ng-c609779689="" class="position-absolute bottom-0 end-0"><label
                                        _ngcontent-ng-c609779689="" for="customer-image-input" data-bs-toggle="tooltip"
                                        data-bs-placement="right" title="Select Image" class="mb-0">
                                        <div _ngcontent-ng-c609779689="" class="avatar-xs cursor-pointer">
                                            <div _ngcontent-ng-c609779689=""
                                                class="avatar-title bg-light border rounded-circle text-muted">
                                                <i _ngcontent-ng-c609779689="" class="ri-image-fill"></i>
                                            </div>
                                        </div>
                                    </label><input _ngcontent-ng-c609779689="" id="customer-image-input" type="file"
                                        accept="image/png, image/gif, image/jpeg" formcontrolname="image_src"
                                        class="form-control d-none"><!----></div>
                                <div _ngcontent-ng-c609779689="" class="avatar-lg p-1">
                                    <div _ngcontent-ng-c609779689="" class="avatar-title bg-light rounded-circle"><img
                                            _ngcontent-ng-c609779689="" src="assets/images/users/user-dummy-img.jpg"
                                            id="customer-img" class="avatar-md rounded-circle object-fit-cover"></div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="n-field"
                                class="form-label">Coupon Number</label><input _ngcontent-ng-c609779689="" type="text"
                                id="customername-field" placeholder="Enter Coupon number" required=""
                                formcontrolnumber="number"
                                class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                    </div>
                    <div _ngcontent-ng-c609779689="" class="col-lg-12">
                        <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="coupon_name-field"
                                class="form-label">Coupon Name</label><input _ngcontent-ng-c609779689="" type="text"
                                id="coupon_name-field" placeholder="Enter Coupon name" required=""
                                formcontrolname="company"
                                class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                    </div>
                    <div _ngcontent-ng-c609779689="" class="col-lg-12">
                        <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="Discount-field"
                                class="form-label">Discount</label><input _ngcontent-ng-c609779689="" type="text"
                                id="designation-field" placeholder="Enter Discount" required=""
                                formcontrolname="Discount"
                                class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                    </div>
                    <div _ngcontent-ng-c609779689="" class="col-lg-12">
                        <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="From Date-field"
                                class="From Date-label">From Date</label><input _ngcontent-ng-c609779689="" type="text"
                                id="From Date-field" placeholder="Enter From Date" required=""
                                formcontrolname="From Date"
                                class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                    </div>
                    <div _ngcontent-ng-c609779689="" class="col-lg-6">
                        <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="To Date-field"
                                class="To Date-label">To Date</label><input _ngcontent-ng-c609779689="" type="text"
                                id="phone-field" placeholder="Enter To Date" required="" formcontrolname="To Date"
                                class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                    </div>



                    <div _ngcontent-ng-c609779689="" class="modal-footer">
                        <div _ngcontent-ng-c609779689="" class="hstack gap-2 justify-content-end"><button
                            [routerLink]="['/admin/coupon']"    _ngcontent-ng-c609779689="" type="button" data-bs-dismiss="modal"
                                class="btn btn-light">Close</button><button  [routerLink]="['/admin/coupon']"_ngcontent-ng-c609779689="" type="submit"
                                id="add-btn" class="btn btn-success">Add list</button></div>
                    </div>










                    