<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <div class="search-box ms-2">
                            <input type="text" class="form-control search" placeholder="Search...">
                            <i class="ri-search-line search-icon"></i>
                        </div>

                    </div>
                    <div class="col-sm-auto hstack gap-2">
                        <button [routerLink]="['/admin/coupon/add-coupon']" type="button" data-bs-toggle="modal"
                            id="create-btn" data-bs-target="#showModal" class="btn btn-primary add-btn float-right">
                            <i class="ri-add-line align-bottom me-1 "></i>
                            Add Contact</button>
                    </div>
                </div>


            </div>
            <!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">


                        <div class="table-responsive table-card mt-3 mb-1  ">
                            <table class="table">
                                <thead>
                                    <tr class="bg-light text-muted ">
                                        <th scope="col " style="width: 50px;"></th>
                                        <th class="sort" data-sort="no">Coupon-Name</th><br>
                                        <th class="sort" data-sort="city">Coupon-Code</th><br>
                                        <th class="sort" data-sort="carNo">Discount</th><br>
                                        <th class="sort" data-sort="carNo">From Date</th>
                                        <th class="sort" data-sort="carNo">To Date</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="status">
                                            <!-- <span [class]="item.user?.status == 'Active'?'badge-soft-success':'badge-soft-danger'" class="badge text-uppercase">{{item.user?.status}}</span> -->
                                        </td>

                                        <td _ngcontent-eqy-c114="">
                                            <div _ngcontent-eqy-c114="" class="d-flex gap-2">
                                                <div _ngcontent-eqy-c114="" class="edit"><button _ngcontent-eqy-c114=""
                                                        data-bs-toggle="modal" data-bs-target="#showModal"
                                                        class="btn btn-sm btn-success edit-item-btn">Edit</button></div>
                                                <div _ngcontent-eqy-c114="" class="remove"><button
                                                        _ngcontent-eqy-c114="" data-bs-toggle="modal"
                                                        data-bs-target="#deleteRecordModal"
                                                        class="btn btn-sm btn-danger remove-item-btn">Remove</button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-md-between align-items-md-center">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                    aria-live="polite">
                                    Showing entries
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="col-sm-12 col-md-5">
                                <div class="text-md-right float-md-end listjs-pagination"></div>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->








      
    