<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <div class="search-box ms-2">
                            <input type="text" class="form-control search" placeholder="Search...">
                            <i class="ri-search-line search-icon"></i>
                        </div>

                    </div>
                    <div class="col-sm-auto hstack gap-2">
                        <button (click)="openModal(addContent)" type="button" data-bs-toggle="modal"
                            id="create-btn" data-bs-target="#showModal" class="btn btn-primary add-btn float-right">
                            <i class="ri-add-line align-bottom me-1 "></i>
                            Add Contact</button>
                    </div>
                </div>


            </div>
            <!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">


                        <div class="table-responsive table-card mt-3 mb-1  ">
                            <table class="table">
                                <thead>
                                    <tr class="bg-light text-muted ">
                                        <th scope="col " style="width: 50px;"></th>
                                        <th class="sort" data-sort="no">Coupon-Name</th><br>
                                        <th class="sort" data-sort="city">Coupon-Code</th><br>
                                        <th class="sort" data-sort="carNo">Discount</th><br>
                                        <th class="sort" data-sort="carNo">From Date</th>
                                        <th class="sort" data-sort="carNo">To Date</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="status">
                                            <!-- <span [class]="item.user?.status == 'Active'?'badge-soft-success':'badge-soft-danger'" class="badge text-uppercase">{{item.user?.status}}</span> -->
                                        </td>

                                        <td _ngcontent-eqy-c114="">
                                            <div _ngcontent-eqy-c114="" class="d-flex gap-2">
                                                <div _ngcontent-eqy-c114="" class="edit"><button _ngcontent-eqy-c114=""
                                                        data-bs-toggle="modal" data-bs-target="#showModal"
                                                        class="btn btn-sm btn-success edit-item-btn">Edit</button></div>
                                                <div _ngcontent-eqy-c114="" class="remove"><button
                                                        _ngcontent-eqy-c114="" data-bs-toggle="modal"
                                                        data-bs-target="#deleteRecordModal"
                                                        class="btn btn-sm btn-danger remove-item-btn">Remove</button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-md-between align-items-md-center">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                    aria-live="polite">
                                    Showing entries
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="col-sm-12 col-md-5">
                                <div class="text-md-right float-md-end listjs-pagination"></div>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->


<ng-template #addContent let-modal>
        <div class="modal-content">
            <div class="modal-header bg-info-subtle p-3">
                <h5 id="exampleModalLabel" class="modal-title">Add Contact</h5>
                <button type="button" data-bs-dismiss="modal" (click)="modal.dismiss()" aria-label="Close"
                    id="close-modal" class="btn-close"></button>
            </div>
    
            <form novalidate="" autocomplete="off"
                class="tablelist-form ng-untouched ng-pristine ng-invalid">
                <div class="modal-body"><input type="hidden"
                        id="id-field">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="position-relative d-inline-block"><input
                                        _ngcontent-ng-c609779689="" type="hidden" name="id" value="" formcontrolname="ids"
                                        class="ng-untouched ng-pristine ng-valid">
                                    <div _ngcontent-ng-c609779689="" class="position-absolute bottom-0 end-0"><label
                                            _ngcontent-ng-c609779689="" for="customer-image-input" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Select Image" class="mb-0">
                                            <div _ngcontent-ng-c609779689="" class="avatar-xs cursor-pointer">
                                                <div _ngcontent-ng-c609779689=""
                                                    class="avatar-title bg-light border rounded-circle text-muted">
                                                    <i _ngcontent-ng-c609779689="" class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label><input _ngcontent-ng-c609779689="" id="customer-image-input" type="file"
                                            accept="image/png, image/gif, image/jpeg" formcontrolname="image_src"
                                            class="form-control d-none"><!----></div>
                                    <div _ngcontent-ng-c609779689="" class="avatar-lg p-1">
                                        <div _ngcontent-ng-c609779689="" class="avatar-title bg-light rounded-circle"><img
                                                _ngcontent-ng-c609779689="" src="assets/images/users/user-dummy-img.jpg"
                                                id="customer-img" class="avatar-md rounded-circle object-fit-cover"></div>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="n-field"
                                    class="form-label">Coupon Number</label><input _ngcontent-ng-c609779689="" type="text"
                                    id="customername-field" placeholder="Enter Coupon number" required=""
                                    formcontrolnumber="number"
                                    class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                        </div>
                        <div _ngcontent-ng-c609779689="" class="col-lg-12">
                            <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="coupon_name-field"
                                    class="form-label">Coupon Name</label><input _ngcontent-ng-c609779689="" type="text"
                                    id="coupon_name-field" placeholder="Enter Coupon name" required=""
                                    formcontrolname="company"
                                    class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                        </div>
                        <div _ngcontent-ng-c609779689="" class="col-lg-12">
                            <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="Discount-field"
                                    class="form-label">Discount</label><input _ngcontent-ng-c609779689="" type="text"
                                    id="designation-field" placeholder="Enter Discount" required=""
                                    formcontrolname="Discount"
                                    class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                        </div>
                        <div _ngcontent-ng-c609779689="" class="col-lg-12">
                            <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="From Date-field"
                                    class="From Date-label">From Date</label><input _ngcontent-ng-c609779689="" type="text"
                                    id="From Date-field" placeholder="Enter From Date" required=""
                                    formcontrolname="From Date"
                                    class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                        </div>
                        <div _ngcontent-ng-c609779689="" class="col-lg-6">
                            <div _ngcontent-ng-c609779689=""><label _ngcontent-ng-c609779689="" for="To Date-field"
                                    class="To Date-label">To Date</label><input _ngcontent-ng-c609779689="" type="text"
                                    id="phone-field" placeholder="Enter To Date" required="" formcontrolname="To Date"
                                    class="form-control ng-untouched ng-pristine ng-invalid"><!----></div>
                        </div>
    
    
                        <div _ngcontent-ng-c609779689="" class="modal-footer">
                            <div _ngcontent-ng-c609779689="" class="hstack gap-2 justify-content-end"><button
                                [routerLink]="['/admin/coupon']"    _ngcontent-ng-c609779689="" type="button" data-bs-dismiss="modal"
                                    class="btn btn-light">Close</button><button  [routerLink]="['/admin/coupon']"_ngcontent-ng-c609779689="" type="submit"
                                    id="add-btn" class="btn btn-success">Add list</button></div>
                        </div>
    
    
    </div>
    </div>
    </form>
    </div>
</ng-template>
    
    
    
    
    
    
    
    
                        




      
    