<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <div class="search-box ms-2">
                            <input type="text" class="form-control search" placeholder="Search...">
                                <i class="ri-search-line search-icon"></i>
                        </div>

                    </div>
                    <div class="col-sm-auto hstack gap-2">
                        <button
                            [routerLink]="['/admin/drivers/add-drivers/create']"
                            type="button"
                            data-bs-toggle="modal"
                            id="create-btn"
                            data-bs-target="#showModal"
                            class="btn btn-success add-btn float-right">
                            <i class="ri-add-line align-bottom me-1"></i>
                            Add</button>
                </div>
                </div>
                
            </div>
            <!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        

                        <div class="table-responsive table-card mt-3 mb-1 px-3 mx-0">
                            <table class="table">
                                <thead>
                                    <tr class="bg-light text-muted">
                                        <th scope="col" style="width: 50px;"></th>
                                        <th class="sort" data-sort="driver_name">Driver Name</th>
                                        <th class="sort" data-sort="no">Mobile No.</th>
                                        <th class="sort" data-sort="city">City</th>
                                        <th class="sort" data-sort="carNo">Car No</th>
                                        <th class="sort" data-sort="carNo">License No</th>
                                        <th class="sort" data-sort="carNo">CarName</th>
                                        <th class="sort" data-sort="status">Email Id</th>
                                        <th class="sort" data-sort="State">State</th>
                                        <th class="sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of list ;let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.name}}</td>
                                        <td>{{item.mobile}}</td>
                                        <td>{{item.city}}</td>
                                        <td>{{item.carNo}}</td>
                                        <td>{{item.licenseno}}</td>
                                        <td>{{item.brandName}}</td>
                                        <td >{{item.email}}</td>
                                        <td >{{item.state}}</td>
                                        
                                        <td>
                                            <div class="d-flex gap-2">
                                                <div class="edit">
                                                    <button 
                                                        class="btn btn-sm btn-success edit-item-btn"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#showModal" (click)="editDriver(item._id)">Edit</button>
                                                </div>
                                                <div class="remove">
                                                    <button
                                                        class="btn btn-sm btn-danger remove-item-btn"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#deleteRecordModal" (click)="removeDriver(item._id)" >Remove</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row justify-content-md-between align-items-md-center">
                            <div class="col-sm-12 col-md-5">
                                <div
                                    class="dataTables_info mb-2"
                                    id="tickets-table_info"
                                    role="status"
                                    aria-live="polite">
                                    Showing entries
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="col-sm-12 col-md-5">
                                <div class="text-md-right float-md-end listjs-pagination"></div>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

